<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Blog</title>
    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body id="body-bootstrap-override">
    <header>
        <nav class="navbar" style="background-color:rgba(255, 250, 250, 0.5);">
            <div class="container-fluid">
                <a class="navbar-brand" id="blog-logo" href="/home">Techno Blog</a>
                <button class="btn btn-dark" id="dashboard">User Dashboard</button>
                {{#if logged_in}}
                <button class="no-button btn btn-danger" id="logout">Logout</button>
                {{else}}
                <button class="btn btn-dark" id="login-navbar">Login/Signup</button>
                {{/if}}
            </div>
        </nav>
    </header>

    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>

    <script src="/js/login.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/posts.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>