#blog-logo {
    color: #f2f4e9;
    background: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 75px;
    text-shadow: 5px 5px 5px black;
}

#body-bootstrap-override {
    background-image: url(../images/misty-mountain-wallpaper-2x.jpg);
}

#post-card {
    background-color: rgb(188, 95, 4, 0.6);
    color: white;
    text-shadow: 1px 1px 1px black;
}

#comment-card {
    background-color: rgb(188, 95, 4, 0.4);
    color: white;
    text-shadow: 1px 1px 1px black;
}

#add-comment-card {
    background-color: gray;
    color: white;
}